<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
    </Properties>
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-6p] %d{yy/mm/dd HH:mm:ss.SSS} %C{1}.%M() - %m%n"/>
        </Console>
        <File name="LogToFile" fileName="logs/auction.log">
            <PatternLayout>
                <Pattern>[%-6p] %d{yy/mm/dd HH:mm:ss.SSS} %C{1}.%M() - %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>