  table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
  }

  .table-caption, .table-header, .btn-block, .btn-delete {
    text-transform: uppercase;
  }

  .table-caption {
    font-weight: bold;
  }

  .table-header {
    background-color: rgb(221, 221, 221);;
    font-weight: normal;
    font-size: 12px;
  }

  .table-body {
    overflow-x: auto;
  }

  th {
    background: rgb(221, 221, 221);
    position: sticky;
    top: 0;
    padding: 2% 3%;
    text-align: left;
  }

  .header-user th,  .row-user td {
    text-align: left;
    padding: 15px;
  }

    .header-auction th,  .row-auction td {
      text-align: left;
      padding: 10px;
    }

  .lot-title {
      font-weight: bold;
      text-decoration: underline;
      cursor: pointer;
  }

  th:first-child, td:first-child {
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2
  }

  .container {
     display: grid;
     position: relative;
     margin: 3%;
     max-height: 100%;
     overflow: auto;
  }

  .btn-add {
    background-color: #555555;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    border-radius: 50%;
  }

  .btn-add:hover {
    background-color: #7d7b7b
  }

  .btn-add:active {
    background-color: #7d7b7b;
    transform: translateY(1px);
  }

  .btn-block, btn-delete {
    width: 80px;
  }